.padre{

    width: 500px;
    border: 2px solid;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
    grid-column-gap: 10px;
    grid-row-gap: 20px;

    animation-duration:3s;
    animation-name: slide;
    animation-iteration-count: infinite;
    /* animation-iteration-count: infinite; */
    
}

.hijitos{
    background-color: red;
    
}

@keyframes slide{
    from{
        margin-left: 100%;
    }
    to{
        margin-left: 50%;
    }
}